@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    cursor: url('/cursors/Default-d4dfdd23.svg'), auto;
}

a, button {
    cursor: url('/cursors/Pointer-2a769ff1.svg'), auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    @apply bg-light/20 rounded-full;
}

.error_container.error{
    @apply bg-red-500/10 border-red-400;
} 
.error_container.error h4{
    @apply text-red-200;
} 
.error_container.info h4{
    @apply text-cyan-200;
} 

.error_container.info{
    @apply bg-cyan-500/10 border-cyan-400;
} 